@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

body {
    font-family: "Playwrite HU", cursive;
    font-weight: 600;
    background-image: url('assets/moddesk.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    
    }
.quote-container {
    background-image: url('assets/mod.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    max-width: 600px;
    text-align: center;
    }
#quote {
    font-size: 1.5rem;
    color: #311701;
    margin-bottom: 20px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}
#author {
    font-size: 1.2rem;
    color: #532601;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    }

